<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>code</key>
            <string>0</string>
            
            <key>name</key>
            <string>Introduction</string>
            
            <key>desc</key>
            <string>The History of Physics</string>
            
            <key>subtopics</key>
            <array>
                <dict>
                    <key>code</key>
                    <string>0a</string>
                    
                    <key>name</key>
                    <string>What is Physics?</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>0b</string>
                    
                    <key>name</key>
                    <string>SI Units</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>0c</string>
                    
                    <key>name</key>
                    <string>Scalars and Vectors</string>
                </dict>
            </array>
        </dict>
        
        <dict>
            <key>code</key>
            <string>4</string>
            
            <key>name</key>
            <string>Motion</string>
            
            <key>desc</key>
            <string>Linear Motion</string>
            
            <key>subtopics</key>
            <array>
                <dict>
                    <key>code</key>
                    <string>4a</string>
                    
                    <key>name</key>
                    <string>What is Motion?</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>4b</string>
                    
                    <key>name</key>
                    <string>Distance vs Displacement</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>4c</string>
                    
                    <key>name</key>
                    <string>Speed vs Velocity</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>4d</string>
                    
                    <key>name</key>
                    <string>Acceleration</string>
                </dict>
            </array>
        </dict>
        
        <dict>
            <key>code</key>
            <string>1</string>
            
            <key>name</key>
            <string>Laws of Motion</string>
            
            <key>desc</key>
            <string>Sir Isaac Newton's 3 Laws of Motion</string>
            
            <key>subtopics</key>
            <array>
                <dict>
                    <key>code</key>
                    <string>1a</string>
                    
                    <key>name</key>
                    <string>First Law</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>1b</string>
                    
                    <key>name</key>
                    <string>Second Law</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>1c</string>
                    
                    <key>name</key>
                    <string>Third Law</string>
                </dict>
            </array>
        </dict>
        
        <dict>
            <key>code</key>
            <string>2</string>
            
            <key>name</key>
            <string>Friction</string>
            
            <key>desc</key>
            <string>The force called Friction</string>
            
            <key>subtopics</key>
            <array>
                <dict>
                    <key>code</key>
                    <string>2a</string>
                    
                    <key>name</key>
                    <string>Friction</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>2b</string>
                    
                    <key>name</key>
                    <string>Dry Friction</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>2c</string>
                    
                    <key>name</key>
                    <string>Coefficient of Friction</string>
                </dict>
            </array>
        </dict>
        
        <dict>
            <key>code</key>
            <string>3</string>
            
            <key>name</key>
            <string>Momentum and Impulse</string>
            
            <key>desc</key>
            <string>Why bother?</string>
            
            <key>subtopics</key>
            <array>
                <dict>
                    <key>code</key>
                    <string>3a</string>
                    
                    <key>name</key>
                    <string>Momentum and Impulse</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>3b</string>
                    
                    <key>name</key>
                    <string>Momentum and Force</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>3c</string>
                    
                    <key>name</key>
                    <string>Summary</string>
                </dict>
            </array>
        </dict>
    </array>
</plist>
