<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>code</key>
            <string>1</string>
            
            <key>name</key>
            <string>Laws of Motion</string>
            
            <key>desc</key>
            <string>Sir Isaac Newton's 3 Laws of Motion</string>
            
            <key>subtopics</key>
            <array>
                <dict>
                    <key>code</key>
                    <string>1a</string>
                    
                    <key>name</key>
                    <string>First Law</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>1b</string>
                    
                    <key>name</key>
                    <string>Second Law</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>1c</string>
                    
                    <key>name</key>
                    <string>Third Law</string>
                </dict>
            </array>
        </dict>
        
        <dict>
            <key>code</key>
            <string>2</string>
            
            <key>name</key>
            <string>Friction</string>
            
            <key>desc</key>
            <string>The force called Friction</string>
            
            <key>subtopics</key>
            <array>
                <dict>
                    <key>code</key>
                    <string>2a</string>
                    
                    <key>name</key>
                    <string>Friction</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>2b</string>
                    
                    <key>name</key>
                    <string>Dry Friction</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>2c</string>
                    
                    <key>name</key>
                    <string>Coefficient of Friction</string>
                </dict>
            </array>
        </dict>
        
        <dict>
            <key>code</key>
            <string>3</string>
            
            <key>name</key>
            <string>Momentum and Impulse</string>
            
            <key>desc</key>
            <string>Why bother?</string>
            
            <key>subtopics</key>
            <array>
                <dict>
                    <key>code</key>
                    <string>3a</string>
                    
                    <key>name</key>
                    <string>Momentum and Impulse</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>3b</string>
                    
                    <key>name</key>
                    <string>Momentum and Force</string>
                </dict>
            </array>
        </dict>
    </array>
</plist>
