<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>code</key>
            <string>1</string>
            
            <key>name</key>
            <string>Name 1</string>
            
            <key>desc</key>
            <string>The first topic</string>
            
            <key>subtopics</key>
            <array>
                <dict>
                    <key>code</key>
                    <string>1a</string>
                    
                    <key>name</key>
                    <string>Subtopic 1a</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>1b</string>
                    
                    <key>name</key>
                    <string>Subtopic 1b</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>1c</string>
                    
                    <key>name</key>
                    <string>Subtopic 1c</string>
                </dict>
            </array>
        </dict>
        
        <dict>
            <key>code</key>
            <string>2</string>
            
            <key>name</key>
            <string>Name 2</string>
            
            <key>desc</key>
            <string>The second topic</string>
            
            <key>subtopics</key>
            <array>
                <dict>
                    <key>code</key>
                    <string>2a</string>
                    
                    <key>name</key>
                    <string>Subtopic 2a</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>2b</string>
                    
                    <key>name</key>
                    <string>Subtopic 2b</string>
                </dict>
                
                <dict>
                    <key>code</key>
                    <string>2c</string>
                    
                    <key>name</key>
                    <string>Subtopic 2c</string>
                </dict>
            </array>
        </dict>
    </array>
</plist>
