<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>The most slippery substance in the world – polytetrafluoroethene (PTFE, or Teflon) – was discovered accidentally.</string>
        <string>A rubber band shrinks when heated and expands when cooled because of the change in its Entropy state.</string>
        <string>Due to the effect of Thermal Expansion, the Eiffel Tower is upto 15cm taller in summer.</string>
        <string>Radar is an abbreviation of Radio Detection And Ranging.</string>
        <string>If an atom were the size of a stadium, its electrons would be as small as bees.</string>
        <string>Laser is an abbreviation of Light Amplification by Stimulated Emission of Radiation.</string>
        <string>Light does not age.</string>
        <string>At 25, Physicist Lawrence Bragg is the youngest person to receive a Nobel Prize.</string>
        <string>Atom is over 99.9% empty space.</string>
        <string>
            The most powerful lasers are made with Neodymium-doped Yttrium crystals. In a fraction of a second,
            they produce more power than the whole United States.
        </string>
        <string>Sunlight exerts pressure (solar radiation pressure).</string>
        <string>The effect of Relativity made Astronaut Sergei Avdeyev a fraction of a second younger upon his return to Earth after 747 days in space.</string>
        <string>The Dead Sea is so dense with salt, you can easily float on it without drowning.</string>
        <string>Lake Baikal in Russia contains more water than all the North American Great Lakes combined.</string>
        <string>The world's densest wood, the Black Ironwood (Olea laurifolia), does not float on water and therefore sinks.</string>
        <string>The mass of our entire atmosphere is estimated to be some 5.5 quadrillion tons (55 followed by 14 zeros).</string>
        <string>The diameter of a proton is approximately 0.000000000001mm (1/25,000,000,000,000in).</string>
        <string>The amount of water beneath our ground soil is 50 times as much as all the water in the rivers and lakes combined.</string>
        <string>The first ten feet of the ocean hold as much heat as the Earth's entire atmosphere.</string>
        <string>The lightning bolt is 3 times hotter than the Sun.</string>
        <string>On average, our bodies constantly resist an atmospheric pressure of about 1kg per square cm.</string>
        <string>The deepest location on Earth is Mariana Trench, about 11km deep in the North Pacific ocean.</string>
        <string>The bark of the redwood tree is fireproof.</string>
        <string>If Mount Everest were placed at the bottom of the deepest part of the ocean, its peak would still be a mile underwater.</string>
        <string>If given the same mass, our body would actually be hotter than the Sun.</string>
        <string>Many physicists believe wormholes (a "shortcut" through space and time) exist all around us but they are smaller than atoms.</string>
        <string>
            A solar panel 100 miles by 100 miles (161x161km) in the Mojave Desert (USA) could replace all the coal now burned to
            generate electricity in the entire U.S.
        </string>
        <string>The Atlantic Ocean grows at about the same rate as your fingernails.</string>
        <string>
            If you yelled for 8 years, 7 months and 6 days, you would have produced just enough sound energy to
            heat up one cup of coffee.
        </string>
        <string>The average ice berg weighs 20,000,000 tons.</string>
        <string>Lightning strikes about 6,000 times per minute on our planet.</string>
        <string>A gallon of water weighs 3.8kg (8.34lb).</string>
        <string>If an item moves very, very fast, it becomes smaller and heavier.</string>
        <string>Minus 40 degrees Celsius is exactly the same temperature as minus 40 degrees Fahrenheit.</string>
        <string>The only rock that floats in water is pumice.</string>
        <string>Mexico City is sinking at a rate of 46cm (18in) per year as a result of draining water.</string>
        <string>25mm (1in) of rain water is equivalent to 381mm (15in) of dry, powdery snow.</string>
        <string>
            The oldest and largest clearly visible meteorite crater site in the world is The Vredefort Dome in Free State, South Africa.
            It is 380km across.
        </string>
        <string>
            The greatest tide change on earth occurs in the Bay of Fundy. The difference between low tide and high tide can be as great as 16.6m (54ft).
        </string>
        <string>The average ocean floor is about 3,600m deep (12000ft).</string>
        <string>Sunlight can penetrate clean ocean water to a depth of 73m (240ft)</string>
        <string>The North Atlantic gets 2.5cm (1in) wider every year.</string>
        <string>Hawaii is moving toward Japan 10cm (4in) every year.</string>
        <string>Due to gravitational effects, you weigh slightly less when the Moon is directly overhead.</string>
        <string>Lake Baikal is the deepest lake in the world.</string>
        <string>When hydrogen burns in the air, water is formed.</string>
        <string>Most gemstones contain several elements, except diamond which is all carbon.</string>
        <string>When glass breaks, the cracks move at speeds of more than 4,500km/h (3,000mi).</string>
        <string>If you could throw a snowball fast enough, it would totally vaporize when it hit a brick wall.</string>
        <string>On a clear day, a beam of sunlight can be reflected off a mirror and seen up to 40km away.</string>
        <string>At the ocean's deepest point, due to immense pressure, an iron ball would take more than an hour to sink to the ocean floor.</string>
        <string>There is enough fuel in a full tank of a jumbo jet to drive an average car around the world four times.</string>
        <string>A car travelling at 80km/h uses half its fuel to overcome wind resistance.</string>
    </array>
</plist>
