<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>7a-vid</key>
        <array>
            <dict>
                <key>name</key>
                <string>Vectors and Scalars</string>
                
                <key>id</key>
                <string>ihNZlp7iUHE</string>
            </dict>
            
            <dict>
                <key>name</key>
                <string>Calculating Average Velocity</string>
                
                <key>id</key>
                <string>oRKxmXwLvUU</string>
            </dict>
            
            <dict>
                <key>name</key>
                <string>Solving for Time</string>
                
                <key>id</key>
                <string>awzOvyMKeMA</string>
            </dict>
            
            <dict>
                <key>name</key>
                <string>Displacement</string>
                
                <key>id</key>
                <string>lQ-dvt3V4yQ</string>
            </dict>
        </array>
        
        <key>7b-vid</key>
        <array>
            <dict>
                <key>name</key>
                <string>First Law of Motion</string>
                
                <key>id</key>
                <string>5-ZFOhHQS68</string>
            </dict>
            
            <dict>
                <key>name</key>
                <string>Second Law of Motion</string>
                
                <key>id</key>
                <string>ou9YMWlJgkE</string>
            </dict>
            
            <dict>
                <key>name</key>
                <string>Third Law of Motion</string>
                
                <key>id</key>
                <string>By-ggTfeuJU</string>
            </dict>
        </array>
        
        <key>7c-vid</key>
        <array>
            <dict>
                <key>name</key>
                <string>Intro to Momentum</string>
                
                <key>id</key>
                <string>XFhntPxow0U</string>
            </dict>
            
            <dict>
                <key>name</key>
                <string>Ice Skater Throws A Ball</string>
                
                <key>id</key>
                <string>vPkkCOlGND4</string>
            </dict>
            
            <dict>
                <key>name</key>
                <string>2D Momentum Problem</string>
                
                <key>id</key>
                <string>CFygKiTB-4A</string>
            </dict>
            
            <dict>
                <key>name</key>
                <string>2D Momentum Problem (part 2)</string>
                
                <key>id</key>
                <string>leudxqivIJI</string>
            </dict>
        </array>
        
        <key>7d-vid</key>
        <array>
            <dict>
                <key>name</key>
                <string>Intro to Gravity</string>
                
                <key>id</key>
                <string>Xcel427Ezl0</string>
            </dict>
            
            <dict>
                <key>name</key>
                <string>Mass and Weight Clarification</string>
                
                <key>id</key>
                <string>IuBoeDihLUc</string>
            </dict>
            
            <dict>
                <key>name</key>
                <string>Gravity For Astronauts In Orbit</string>
                
                <key>id</key>
                <string>oIZV-ixRTcY</string>
            </dict>
            
            <dict>
                <key>name</key>
                <string>Brick vs Feather</string>
                
                <key>id</key>
                <string>36Rym2q4H94</string>
            </dict>
            
            <dict>
                <key>name</key>
                <string>Acceleration Due to Gravity</string>
                
                <key>id</key>
                <string>R5CRZONOHCU</string>
            </dict>
            
            <dict>
                <key>name</key>
                <string>Space Station Speed In Orbit</string>
                
                <key>id</key>
                <string>9BNkmfHYYYI</string>
            </dict>

            <dict>
                <key>name</key>
                <string>Newton's Law of Gravitation</string>
                
                <key>id</key>
                <string>391txUI76gM</string>
            </dict>

            <dict>
                <key>name</key>
                <string>Gravitation (part 2)</string>
                
                <key>id</key>
                <string>8i0j3j16yFk</string>
            </dict>
        </array>
    </dict>
</plist>
